# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
flyte-env/
venv/
.env/

# Environment Variables
.env

# Flyte
.flyte/

# Python Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Swap files
*.swp
